---
import {useLocale} from "@utils/locale";
import Layout from '@layouts/Layout.astro';
import {getCollection, getEntry, render} from "astro:content";

export const prerender = true;

const clips = await getCollection('docs', (i) => {
    return i.slug.includes('read/clips/')
})
const clipsList = clips.map((clip) => {
    return {
        link: clip.slug,
        label: clip.data.title
    };
});
const home = await getEntry('docs', 'home')
const {Content} = await render(home);


const {path, t, locale} = useLocale(Astro.url)

const menubar = [
/*    {
        label: '折腾笔记',
        collapsed: true,
        link: '/tech/',

        items: [
            // Each item here is one entry in the navigation menu.
            {label: 'Web', link: '/tech/web/'},
            {label: 'Obsidian', link: '/tech/obsidian/'},
            {label: 'DevOps', link: '/tech/devops/'},
            {label: 'Foobar', link: '/tech/foobar/'},
        ],
    },
    {
        label: '阅读印象',
        link: '/read/',
        collapsed: true,
        items: [
            // Each item here is one entry in the navigation menu.
            {
                label: '书摘辑录',
                link: '/read/clips/',
            },
            {
                label: '装模做样',
                link: '/read/review/',
            }
        ],
    },*/
    {
        label: '潦草生活',
        link: '/../categories',
        collapsed: true,
        items: [
            // Each item here is one entry in the navigation menu.
            {label: 'LIVE', link: '/../categories/live'},
            {label: 'MOOD', link: '/../categories/mood'},
            {label: 'LOVE', link: '/../categories/love'}
        ],
    }/*,
    {
        label: '不懂艺术',
        link: '/have-fun/',
        collapsed: true,
        items: [
            // Each item here is one entry in the navigation menu.
            // {label: 'Movie', link: '/have-fun/movie/'},
            // {label: 'TV', link: '/have-fun/tv/'},
            // {label: 'Anime', link: '/have-fun/anime/'},
            {label: '动次打次', link: '/have-fun/music/'},
            {label: '吃苦随记', link: '/have-fun/gaming/'},
        ],
    }*/
]
---

<Layout title={t('nav.docs')} navbar={true}>
    <main class="pl-0 mt-8">
        <article class="prose dark:prose-invert prose-stone max-w-prose mt-6">
            <Content/>
            <div data-orientation="horizontal" role="separator" class="bg-stone-200 w-full h-px my-8"></div>
        </article>

            {

                <ul class="ml-0 grid grid-cols-2 gap-2 sm:grid-cols-3 sm:gap-4 " style="padding-inline-start: 0">
                    {menubar.map((node) => (
                            <li class="py-2 grid">
                                <a class="panda-link italic font-bold"
                                   href={'/docs' + (node.link ?? '')}>{node.label}</a>
                                {node.items && node.items.length > 0 && (
                                        <ul class="mt-2">
                                            {
                                                node.items.map((child) => (
                                                        <li class="py-1">
                                                            <a class="panda-link-static text-normal"
                                                               href={'/docs' + (child.link ?? '')}>{child.label}</a>
                                                        </li>
                                                ))

                                            }
                                        </ul>
                                )}
                            </li>
                    ))}
                </ul>
            }

    </main>
</Layout>