---
import {API_URL} from 'astro:env/server'
import Layout from '@layouts/Layout.astro'
import {useLocale} from '@utils/locale'
import {formatDateYMD} from "@utils/format";
import ObsidianEdit from "@components/ObsidianEdit.astro";
import {getCollection, getEntry, render} from 'astro:content';
import '../../styles/content.css'

export const prerender = true;
const {path, t, locale} = useLocale(Astro.url)
const { entry } = Astro.props;
const {filePath} = entry
const { Content, remarkPluginFrontmatter } = await entry.render();

const {lastModified} = remarkPluginFrontmatter

const {categories, title,  pubDate  } = entry.data;
const ext = filePath.split('.').pop()
// const {Content} = await render(post);
export async function getStaticPaths() {
    const notes = await getCollection('posts',
        (i) =>
            !i.slug?.includes('.en.')
    );
    return notes.map((note) => {
        return {
            params: {
                slug: note.slug,
            },
            props: {
                entry: note,
            },
        };
    });
}


// const title = locale === 'en' && FrontMatter['title-en'] ? FrontMatter['title-en'] : FrontMatter['title']
---

<Layout title={title} navbar={false}>



    <a  class="panda-link mt-6" href={path('/posts')} >{t('post.back')}</a>

    <main >

        <div class="mt-6">

            <h1 class="text-4xl ">{title} </h1>
            <div class="flex sm:flex-row flex-col rounded-lg bg-stone-100 dark:bg-stone-800 p-2 px-4">
                <div>
                    {
                        categories &&
                        categories.map((category) => (
                                <span class="ml-1">
                                <a href={path('/categories/' + category)} class="text-sm mr-2 panda-link">
                                    #{t('categories.' + category)}#
                                </a>
                            </span>
                        ))
                    }
                </div>
                <span class="sm:ml-auto ml-0 mt-1 sm:mt-0 pl-1 text-sm font-normal"> {t('post.post_at')} {formatDateYMD(pubDate)}</span>
            </div>
        </div>
        <article class="prose dark:prose-invert prose-netrual max-w-prose mt-6">
            <Content/>
        </article>
        <div class="mt-9 flex text-sm font-italic opacity-80">
            <ObsidianEdit/>
            {
                pubDate !== lastModified && (
                            <span class="ml-auto">
                    {t('post.last_modified_at')} {formatDateYMD(lastModified)} |
                </span> 
                )
            }
              <a class="panda-link ml-2" href={`/raw/posts/${entry.slug}.${ext}`} >
             
              {ext === 'md' ? 'Markdown' : 'MDX'}
            </a>
        </div>
        <script data-isso={API_URL}
                src=`${API_URL}/js/embed.min.js`></script>

        <section id="isso-thread">
            <noscript>Javascript needs to be activated to view comments.</noscript>
        </section>
    </main>
</Layout>


