---
import {relativeTo} from '@utils/format'
import {useLocale} from '@utils/locale'
import MarkdownIt from 'markdown-it'
interface Props {
    content: {
        id: string,
        author: string,
        text: string,
        created: string,
        title: string,
        title_en: string,
        uri: string,
        likes: number,
        dislikes: number
    }
}

const {t, path, locale} = useLocale(Astro.url)
const {id, author, text, created, uri, title, title_en, likes, dislikes} = Astro.props.content

const review_title = locale === 'en' ? title_en : title
const ratedDateISO = new Date(Number(created) * 1000).toISOString()

const content = new MarkdownIt('commonmark',{
    breaks: true,
    typographer: true
}).render(text)

function stringLikeToHeart(likes, dislikes) {
  let rate = Math.min(5, Math.max(0, 3 + likes - dislikes));
  return '❤️'.repeat(rate) + '🤍'.repeat(5 - rate);
}
---

<div class="mt-8">
    <div class="p-4 rounded-xl bg-stone-100  dark:bg-stone-600">
        <!--<div class="p-4 border border-blue-500 dark:border-stone-400 border-solid">-->
        <div class="text-sm grid grid-cols-7">
            <div class="min-w-[2.5rem] align-left">
                <a href={/\/posts\/\d+/.test(uri) ? `${uri}#isso-${id}` : `${uri}/${id}`} class="panda-link">
                    <span class="text-sm font-bold w-full">#{id}</span>
                </a>

            </div>
            <div class="panda-link col-start-2 col-span-3 flex"></div>

            <div class="text-amber-400 font-medium italic col-span-1"></div>

            <div class="col-span-2 flex">
                <time class="italic opacity-70 ml-auto mr-4">{relativeTo(ratedDateISO, locale)}</time>
            </div>
        </div>
        <div class="prose prose-stone dark:prose-invert px-2 py-0" set:html={content}/>
        <div class="panda-link text-sm flex">
            {author && <span class="mr-auto"> {author} | {stringLikeToHeart(likes, dislikes)}</span>}
            
            {
                review_title &&  <a href={`${uri}#isso-${id}`} class="prose panda-link external-link mr-2">
                        <span class="text-sm font-bold font-italic underline">{title.slice(0, 24)}</span>
                    </a>
            }
        </div>
    </div>
</div>
