---
import { useLocale } from '@utils/locale'
import {formatDateYMD} from "../utils/format";
const { t, locale } = useLocale(Astro.url)
const { imdb_id, title, title_en, rating, rated_date, moments_id } = Astro.props.body

const ratedDateISO = new Date(rated_date)

const imdb_url = `https://www.imdb.com/title/${imdb_id}`
function stringRateToStarString(rating) {
    const rate = parseFloat(rating) / 2
    const fullStar = Math.floor(rate)
    const halfStar = rate - fullStar > 0.5 ? 1 : 0
    const emptyStar = 5 - fullStar - halfStar
    return '★'.repeat(fullStar) + '☆'.repeat(halfStar) + '☆'.repeat(emptyStar)
}
---

<div class="mb-2 mr-2">
    <div class="p-3 rounded-xl bg-stone-100 dark:bg-stone-600">
        <div class="mb-2 flex flex-row">
            <span class="accent-auto dark:accent-auto font-bold">{locale === 'en' ? title_en : title}</span>
            <span class="font-light italic text-xs ml-auto">{formatDateYMD(ratedDateISO)}</span>
        </div>
        <div class="text-sm">
            <span class="text-amber-400"> {stringRateToStarString(rating)}</span> |
            <a class="panda-link" href={imdb_url}> IMDB</a>
            {
                moments_id && (
                    <span>
                        {' '}
                        |{' '}
                        <a class="panda-link" aria-disabled="true" href={`/moments/${moments_id}/`}>
                            {t('reviews.review')}
                        </a>
                    </span>
                )
            }
        </div>
    </div>
</div>
