---
import { useLocale } from '@utils/locale'
import { formatDateYMD } from "../utils/format";
import HeartRating from '@components/HeartRating.astro'
const { t } = useLocale(Astro.url)
const {id, author, text, created, uri, likes, dislikes} = Astro.props.content

const ratedDate = new Date(created * 1000)

// Function to remove HTML tags
function removeHtmlTags(input) {
    return input.replace(/<\/?[^>]+(>|$)/g, ""); // Removes all HTML tags
}

// Clean the text by removing HTML tags
const cleanedText = removeHtmlTags(text);
---

<div class="mb-2 mr-2">
    <div class="p-3 rounded-xl bg-stone-100 dark:bg-stone-800">
        <div class="mb-2 flex flex-row">
            <span class="accent-auto dark:accent-auto break-words">{cleanedText}</span>
            <span class="font-light italic text-xs ml-auto">{formatDateYMD(ratedDate)}</span>
        </div>
        <div class="panda-link text-sm flex flex-wrap">
            <HeartRating id={id} likes={likes} dislikes={dislikes} />
            <span class="mr-2">| {author.slice(0, 10)} </span>
            {
                uri && (
                    <span>
                        {' '}
                        |{' '}
                        <a class="panda-link" aria-disabled="true" href={`${uri}#isso-${id}`}>
                            {t('reviews.review')}
                        </a>
                    </span>
                )
            }
        </div>
    </div>
</div>
