---
// get api url from env


import {API_URL,API_SECRET} from 'astro:env/server'

const apiUrl = API_URL
const secret = API_SECRET
const {id} = Astro.props
const tags = ['影视','影评','音乐','叽叽喳喳']
---
<div id="moment-editor" data-moment-id={id} data-api={apiUrl} data-api-secret={secret}>
    <div class="mt-4 flex flex-col">
        {
            id && <label for="moment-id">
                    <h2 id="moment-id" class="mb-2">#{id}</h2>
                </label>
        }
        <label for="tag">
            <h3>Tags</h3>
            <select id="tag" class="p-1 pr-5">
                {tags.map((tag) => (
                    <option value={tag}>{tag}</option>
                ))}
            </select>
        </label>
        <label for="content">
            <h3>Content</h3>
        </label>
        <textarea rows="9" id="content"></textarea>

    </div>
    <div class="flex">
        <span id="notification" class="mt-4"></span>
        <button class="btn btn-primary mt-4 ml-auto">Submit</button>
    </div>
</div>

<script>
    function updateNotificationMessage(msg) {
        document.getElementById('notification').innerText = msg
    }
    async function InitIfEdit(){
        if(momentId){
            const response = await fetch(apiUrl + '/' + momentId, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + secret
                }
            })
            if (200 === response.status) {

                const v = await response.json()
                const {tags,body} = v;
                (document.getElementById('tag') as HTMLSelectElement).value = tags;
                (document.getElementById('content') as HTMLInputElement).value = body;
            } else {
                updateNotificationMessage('get moment info Failed:'+ momentId )
            }
        }
    }
    // get api url from element
    let apiUrl = document.getElementById('moment-editor').getAttribute('data-api') + '/moments'
    const secret = document.getElementById('moment-editor').getAttribute('data-api-secret')
    const momentId = document.getElementById('moment-editor').getAttribute('data-moment-id')
    document.querySelector('.btn').addEventListener('click', async () => {
        let tag = (document.getElementById('tag') as HTMLInputElement).value
        // handle tag change
        let content = (document.getElementById('content') as HTMLInputElement).value
        // send data to api
        const data = {
            tags: tag,
            body: content
        }
        if (momentId) {
            data['id'] = document.getElementById('moment-editor').getAttribute('data-moment-id')
            apiUrl = apiUrl + '/' + momentId
        }
        const {status,text} = await fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + secret
            },
            body: JSON.stringify({
                tags:tag,
                body:content
            })
        })
        if (status === 201 || status === 200) {
            updateNotificationMessage('Post success!')
        } else {
            updateNotificationMessage('Post failed:' + await text())
        }
    })
    InitIfEdit()
</script>